.recipe-prepare {
    background-color: var(--roseWhite);
    font-family: var(--interF);
    color: var(--darkRasp);
    border-radius: 10px;

    padding: 1em 1.5em;

    h2 {
      font-size: 15px;

      margin: 0;
    }

    p {
      color: var(--darkChar);
      font-size: 12px;

      margin: 0;
      margin-left: 10px;
    }

    ul {
      margin: 0;
      padding-left: 1.5em;
    }

    li {
      margin-top: 0.7em;
    }
    li::marker {
      font-size: 10px;
    }
}